name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Install isort
      run: pip install isort

    - name: Isort check
      run: isort --check-only .

    - name: Black check
      run: black .
    
    - name: Install mypy
      run: pip install mypy

    - name: Mypy check
      run: mypy app

    - name: Install pytest
      run: pip install pytest
       
    - name: Debug
      run: |
        pwd
        ls -R
        find . -name "app"
    
    - name: Set up Python and add app directory to PYTHONPATH
      run: |
        python -m pip install --upgrade pip
        export PYTHONPATH="${PYTHONPATH}:$(pwd)"
        pip install -r requirements.txt

    - name: Run tests
      run: pytest ./tests/test_main.py 
    
    - name: Build and Push Docker image
      run: |
        echo ${{ secrets.AWS_ACCESS_KEY_ID }} | docker login --username AWS --password-stdin ${{ secrets.AWS_REGISTRY }}
        docker build -t ${{ secrets.AWS_REGISTRY }}/my-app:${{ github.sha }} .
        docker push ${{ secrets.AWS_REGISTRY }}/my-app:${{ github.sha }}
      #env:
      #  AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
